#sidebar {
    min-height: 100vh;
    background-color: #212529;
  }
  
  #sidebar .nav-item {
    font-size: 0.9rem;
  }
  
  #sidebar .nav-link {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
  
  #sidebar .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  
  #sidebar .nav-link.active {
    color: white;
  }

  #sidebar > .flex-grow-1 > .nav:first-child {
    padding-top: 1.5rem;
  }

  #sidebar > .mt-auto > .nav {
    padding-bottom: 1.5rem;
  }